body{
	margin:0;
	padding :0;
	display:flex;
	justify-content:center;
	align-items: center;
	background:linear-gradient(45deg,#66ffff,#ffffff);
	font-family: Courier, monospace;	
}
mark h1{
	position:relative;
	margin-top:0px;
	left:30%;
	color:grey;
}	
.card{ 
	display:block;
	justify-content: center;
	position: relative;
	top: 10%;
	right:45%;
	background-color:#ffffff;
	width:300px;
	height:460px; 
	box-shadow: -10px 25px 50px rgba(0,0,0,.5);
}
.card:hover{
	scale
}

.card .image{
	margin: 10px;
	margin-top: 30px;
	padding-top:6px;
	object-fit:cover;	
	height:250px;
	width:200px;
	display: block;
	align-content: center;
	position: relative;
	justify-content: center;
	left:13%;
	box-sizing: border-box;
	box-shadow: -5px 10px 10px rgba(0,0,0,.5);
	border-radius: 15px;
	}
.info{
line-height: 5px;
}
.info h4{
	font-family:Courier New,monospace;
	color:#595959;
	text-align: center;
	font-size: 25px;
	fond-weight:100;
}				
.title{
	color:#000000;
	opacity: 0.8;
	font-size: 18px;
	margin-left:10px;
	display:block;
	position:relative;
	padding:5px;
	bottom: 15px;

}
.info p{
	color:black;
	font-size:18px;
	text-align: center;
}
.info a{
	padding-left: 10px;
	font-size: 18px;
	color:#666666;
	text-align: center;
}
.horizontal{
	position:relative;
	top:20px;
	text-align:center;
	position:relative;
}
.btn{
	display: inline-block;
	width:33px;
	height:35px;
	padding: 2px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	border-radius:3px;
	overflow:hidden;
	position:relative;
	background-color:#666666; 
}
.btn i{
	line-height: 35px;
	font-size: 20px;
	transition: 0.5 linear;
	color:#ffffff;
	transition: 0.3s ease;
}
.btn:hover i{
	transform:scale(1.30);
	color: #ffffff;
}
.btn::before{
	content:"";
	position:relative;
	width:125%;
	height:122%;
	background:#f1c40f;
	transform: rotate(45deg);
	left:-100%;
	top:100%;
}
.btn:hover::before{
	animation: animate 0.5s;
	top:-10%;
	left:10%;
}
.@keyframes animate{
	0%{
		left:-100%;
		top:100%;
	}
	50%{
		left:-100%;
		top:-30%;
	}
	100%{
		top:-10%;
		left:-10%;
	}

}